.logo{
	float: left;
	
}
nav ul{
	float:right;
}
nav li {
	margin-top: 50px;
	display: inline-block;
	margin-right: 20px;

}
nav a{
	text-decoration: none;
	color: #000;
	font-size: 16px;
	font-family: 'Titillium Web', sans-serif;
}
.clearfix:after,.clearfix:before{
	content: "";
	display: table;
	clear: both;
}

.cover-image{
 background: url(../img/background.jpg) center center no-repeat;
 background-size: cover;
}
.cover-image h1{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 250px;
	font-family: 'Teko',sans-serif;
	font-size: 120px;
	color: #fff;
	letter-spacing: 10px;
	text-align: center;
	text-transform: uppercase;
	width: 90%;
}
.cover-image p{
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 20%;
	font-family: 'Titillium Web',sans-serif;
	font-size: 22px;
	text-align: center;
	color: #fff;
	width: 60%;
}
.button{
	margin-left: 45%;
	margin-top: 50px;
	background-color: #fff;
	width: 230px;
	height: 50px;
	color: black;
	text-transform: uppercase;
	padding:10px 20px;
	text-decoration: none;
}
.horizontal-bars li{
	display: inline-block;
	background-color: grey;
	width: 40px;
	height: 2px;
}
li.active {	
	background-color: #fff;
}
.horizontal-bars{
	margin-top: 100px;
	margin-bottom: 40px;
	margin-left: 540px;
	margin-right: auto;
	padding-bottom: 40px;
	
}
body h2{
	margin: 50px auto;
	font-family: "Teko", sans-serif;
	font-weight: 300;
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
}
.project1 {
	float: left;
	margin-left: 40px;
}
.body h3{
	margin: 10px 200px;
	font-family: 'Teko',sans-serif;
	font-weight: 300;
	font-size: 30px;
	float: left;

}
.body p{
	font-family: 'Titillium Web',sans-serif;
	font-size: 14px;
	color: #666666;
	width: 45%;

}
.body a{
	text-decoration: none;
	color: #000;
}
.project1 img{
	width: 40%;
}
.project2{
	float: right;
}
.project2 img{
	width: 40%;
}

